name: Metrics
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:
  push:
   branches:
   - main
   - master
  
jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.PROFILE }}
          user: liamdar
          config_timezone: Europe/Spain
          plugin_languages: yes
          plugin_isocalendar: yes
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
